<section class="">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100 bg-dark text-light p-4 rounded">
        
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 my-2 ">
         
          <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()" class="mt-2">
            <div formGroupName="user" class="form-area">
           
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="name">Adınız</label>
              <input  formControlName="name" type="text" id="name" class="form-control form-control-md" />

              <div  *ngIf="getName.invalid && (getName.dirty ||getName.touched)" class="alert alert-warning mt-1">
                <div *ngIf="getName.errors.pattern ">Geçersiz isim girdiniz.</div>
                <div *ngIf="getName.errors.required ">Lütfen bir isim giriniz.</div>
                <div *ngIf="getName.hasError('whitespace')">Boş karakter girdiniz.</div>
                <div *ngIf="getName.errors.minlength " >İsim minimum 3 karakter uzunluğunda olmalıdır.</div>
                <div *ngIf="getName.errors.maxlength">İsim maksimum 30 karakter uzunluğunda olmalıdır.</div>
              </div>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="surname">Soyadınız</label>
                <input  formControlName="surname" type="text" id="surname" class="form-control form-control-md" />

                <div  *ngIf="getsurName.invalid && (getsurName.dirty ||getsurName.touched)" class="alert alert-warning mt-1">
                  <div *ngIf="getsurName.errors.pattern ">Geçersiz soyisim girdiniz.</div>
                  <div *ngIf="getsurName.errors.required">Lütfen bir soyisim giriniz.</div>
                  <div *ngIf="getsurName.hasError('whitespace')">Boş karakter girdiniz.</div>
                  <div *ngIf="getsurName.errors.minlength">Soyisim minimum 3 karakter uzunluğunda olmalıdır.</div>
                  <div *ngIf="getsurName.errors.maxlength">Soyisim maksimum 30 karakter uzunluğunda olmalıdır.</div>
                </div>

            </div> 
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="tcnumber">TC No Giriniz</label>
              <input  formControlName="tcnumber" type="text" id="tcnumber" class="form-control form-control-md" />

              <div  *ngIf="getTCNumber.invalid && (getTCNumber.dirty ||getTCNumber.touched)" class="alert alert-warning mt-1">
                <div *ngIf="getTCNumber.errors.pattern">Geçersiz bir TC No  girdiniz.</div>
                <div *ngIf="getTCNumber.errors.required">Lütfen TC No giriniz.</div>
                <div *ngIf="getTCNumber.hasError('whitespace')">Boş karakter girdiniz.</div>
                <div *ngIf="getTCNumber.errors.minlength">TC No 11 karakter uzunluğunda olmalıdır.</div>
                <div *ngIf="getTCNumber.errors.maxlength">TC No  11 karakter uzunluğunda olmalıdır.</div>
               
              </div>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="telephone">İrtibat(Telefon) Numaranızı Giriniz:</label>
                <input  formControlName="telephone" type="text" id="telephone" class="form-control form-control-md" />

                <div  *ngIf="getTelephone.invalid && (getTelephone.dirty ||getTelephone.touched)" class="alert alert-warning mt-1">
                  <div *ngIf="getTelephone.errors.pattern">Geçersiz bir telefon numarası girdiniz.</div>
                  <div *ngIf="getTelephone.errors.required">Lütfen bir telefon numarası giriniz.</div>
                  <div *ngIf="getTelephone.hasError('whitespace')">Boş karakter girdiniz.</div>
                  <div *ngIf="getTelephone.errors.minlength">Telefon numarası 11 karakter uzunluğunda olmalıdır.</div>
                  <div *ngIf="getTelephone.errors.maxlength">Telefon numarası 11 karakter uzunluğunda olmalıdır.</div>
                </div>
                
              </div>

            <div class="form-group mb-4">
                <label for="sel1">Yakınlık Derecenizi Giriniz:</label>
                <select   formControlName="relation" class="form-control form-control-md"  id="sel1">
                  <option>Birinci Dereceden Akrabası(Anne,Baba,Kardeş ,Çocuk ...)</option>
                  <option>İkinci Dereceden Akrabası</option>
                </select>

                <div  *ngIf="getRelation.invalid && (getRelation.dirty ||getRelation.touched)" class="alert alert-warning mt-1">
                  <div *ngIf="getRelation.errors.required">Lütfen bir yakınlık derecesi seçiniz.</div>
                  <div *ngIf="getRelation.hasError('whitespace')">Boş karakter girdiniz.</div>
                  <div *ngIf="getRelation.errors.minlength">Yakınlık derecesi minimum 1 karakter uzunluğunda olmalıdır.</div>
                  <div *ngIf="getRelation.errors.maxlength">Yakınlık derecesi maksimum 56 karakter uzunluğunda olmalıdır.</div>
                </div>
            </div>


          
           
             
          




            <div class="form-group mb-4">
                <label for="sel1">Yakın Sayınızı Giriniz:</label>
                <select  formControlName="count" class="form-control form-control-md" id="sel2">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>

                <div  *ngIf="getCount.invalid && (getCount.dirty ||getCount.touched)" class="alert alert-warning mt-1">
                  <div *ngIf="getCount.errors.pattern">Geçersiz bir yakın sayısı girdiniz. </div>
                  <div *ngIf="getCount.errors.required">Lütfen bir yakın sayısı giriniz. </div>
                  <div *ngIf="getCount.hasError('whitespace')">Boş karakter girdiniz.</div>
                  <div *ngIf="getCount.errors.minlength">Yakın sayısı minimum 1 karakter uzunluğunda olmalıdır.</div>
                  <div *ngIf="getCount.errors.maxlength">Yakın sayısı maksimum 56 karakter uzunluğunda olmalıdır.</div>
                </div>
            </div>
            <div class="form-group mb-4">
                <label for="start">En son irtibat tarihi:</label>

                <input formControlName="lastconnectiondate" type="date" id="start" name="trip-start"
                       value="2023-02-06"
                       min="2023-02-01" max="2023-02-31"  class="form-control form-control-md">

               
            </div>
            <div class="form-group mb-4">
                <label for="start">En son irtibat saati:</label>

               
                <input formControlName="lastconnectiontime" type="time" id="appt" name="appt"
                value="00:01"
                min="00:00" max="23:59" required class="form-control form-control-md">

            </div>
  
            
  
            <!-- Submit button -->
           
                    <button type="submit" class="btn btn-primary btn-lg btn-block" >Kaydet</button>
                    <!-- (click)="saveForm(name,surname,tcnumber,telephone) -->
              </div>
                 
            </form>
                
            
  
            
               
               
            
            
            
         
        </div>
        <div class="col-md-4 col-lg-5 col-xl-6 my-2">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
              class="img-fluid" alt="Phone image">
          </div>
      </div>
    </div>
  </section>